src/main/resources/xsd/calculator-proxy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/soapproxy/calculator"
           xmlns="http://example.com/soapproxy/calculator"
           elementFormDefault="qualified">

    <!-- Request de tu cliente -->
    <xs:element name="addRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="a" type="xs:int"/>
                <xs:element name="b" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Response que devuelves -->
    <xs:element name="addResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:int"/>
                <!-- Ejemplo de metadatos propios -->
                <xs:element name="source" type="xs:string" minOccurs="0"/>
                <xs:element name="traceId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
